<div class="register-container">
  <div class="register-card">

    <h2>Registration</h2>

    <div *ngIf="successMsg" class="success-msg">
      {{ successMsg }}
    </div>

    <div *ngIf="errorMsg" class="error-msg">
      {{ errorMsg }}
    </div>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <label>Email</label>
      <input type="email" formControlName="email">

      <div class="validation"
        *ngIf="itemForm.get('email')?.touched && itemForm.get('email')?.invalid">
        Enter valid email
      </div>

      <!-- Username -->
      <label>Username</label>
      <input type="text" formControlName="username">

      <div class="validation"
        *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.invalid">
        Username is required
      </div>

      <!-- Password -->
      <label>Password</label>

      <div class="password-box">

        <input 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password">

        <span (click)="togglePassword()" class="eye-icon">
          <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
        </span>

      </div>

      <div class="validation"
        *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.invalid">
        Password is required
      </div>

      <!-- Role -->
      <label>Role</label>
      <select formControlName="role">
        <option value="">Select Role</option>
        <option value="MANUFACTURER">Manufacturer</option>
        <option value="WHOLESALER">Wholesaler</option>
        <option value="CONSUMER">Consumer</option>
      </select>

      <div class="validation"
        *ngIf="itemForm.get('role')?.touched && itemForm.get('role')?.invalid">
        Role is required
      </div>

      <!-- Submit -->
      <button type="submit" [disabled]="itemForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Registering...' : 'Register' }}
      </button>

    </form>

  </div>
</div>